<div class="offer" data-template-bind='[{"attribute": "offer_id", "value": "id"}]'>
	<div class="offer-header potential-offer-header">
		<div>
			<a class="offer-title potential-offer-title" data-content="title"></a>


			<span class='offer-score'>
				<span data-content="score"></span>
				%
			</span>

			<div class="date-container">
				<span class="date">
					Publié le
					<span data-content="published_date"></span>
				</span>
			</div>
		</div>
		<div class="location-container">
			<span class=" offer-sub-heading">Lieu : </span>
			<span class="offer-location" data-content="location"></span>
		</div>
	</div>

	<div class="offer-content">
		<span class="offer-description" data-content="description"></span>
	</div>

	<div class="offer-menu">
		<div class="offer_buttons">

			<button class="btn btn-detail ">
				<i class="icon-info"> </i> Détail de l'offre
			</button>
		</div>
		<div class="offer_confirmation">
			<span class="content_text"></span>
			<button class="btn b_yes">oui</button>
			<button class="btn b_no">non</button>
		</div>
	</div>
</div>